*~
*.pyc
src/tests/integration/result/*
src/bin/*
.classpath
.project
.settings*
.*.xml
*.bbl
*.aux
*.blg
*.log
main.pdf
*output.txt
*screen.txt
*auto*/
.directory

TAGS
*.flow
/bin/

\#*\#
.\#*
src/.gitignore
*junitvmwatcher*
*.orig
*.kate-swp
