system = sys1
initially = "x==18.2 & t==0 & Tmax == 50 & loc(ofOnn_1)==off"
# forbidden = "x==19 & loc(ofOnn_1)==off"
scenario = supp
directions = oct
set-aggregation = chull
sampling-time = 0.001
time-horizon = 25
iter-max = 1000
output-variables = "t, x"
output-format = GEN
rel-err = 1.0E-12
abs-err = 1.0E-13
flowpipe-tolerance = 0.001
